VITE_ELIGIBILITY_API_URL=https://EXAMPLE.execute-api.REGION.amazonaws.com/ENV-IE-DEV-OR-PROD/eligibility/check
VITE_PACKET_API_URL=https://EXAMPLE.execute-api.REGION.amazonaws.com/ENV-IE-DEV-OR-PROD/packet
VITE_USE_LOCAL_ELIGIBILITY_MOCK=false
